@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* 
font-family: 'Abel', sans-serif; 
*/
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
    color: white;
    font-family: 'Abel', sans-serif;
    
    background-color: rgb(181, 162, 42);
}

.center{
    
    display: flex;
    flex-direction: row;
    min-width: 90vw;
    height: 75vh;
    align-items: center;
    justify-content: space-between;

}

/* Left */
.left{
    width: 48%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info{
    background-color: #35353570;
    border-radius: 20px;
    padding: 20px;
    font-size: 3rem;

    box-shadow: 2px 2px 3px 3px #00000060;
}

.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-butt {
    margin-top: 20px;
    
}

.new-butt button{
    color: white;
    font-family: 'Abel', sans-serif ;
    font-size: 3rem;
    background-color: #35353570;
    border: none;
    border-radius: 20px;
    min-width: 100%;
    text-transform: uppercase;

    box-shadow: 2px 2px 3px 3px #00000060;
    
}

.new-butt button:hover {
    background-color: rgba(187, 187, 187, 0.603);
    color: rgb(24, 24, 24);
}


/* Right */
.right{
    /* border: #353535 solid 2px; */
    border-radius: 20px;
    width: 48%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 3px 3px #00000060;
}

.copy {
    background-color: rgba(201, 201, 201, 0.603);
    padding: 15px;
    border-radius: 5px;
    color: black;
    
}

.copy:hover {
    background-color: rgba(254, 118, 118, 0.603);
}


.history {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 5;
    box-sizing: border-box;
    
}

.color {
    background-color: white;
    width: 10%;
    height: 10vh;
    margin:0 3px  ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;    
}


.color:hover {
    transform: translate(0,-10%);
    
}

/* .color::after {
    content: "ff44s3";
   background-color: rgba(0, 0, 0, 0.334);
} */




@media only screen and (max-width: 1200px) {
    .center {
      flex-direction: column-reverse;

      
    }
    .left{
        width: 100%;
        justify-content: space-evenly;
    }
    .info{
        font-size: 20px;
    }
    .new-butt button{
        font-size: 30px;
    }


    .right {
        width: 100%;
    }

    .color {
        width: 20%;
    }
  }