body {
    background: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 90vw;
    max-width: 360px;
    height: 90vh;
    max-height: 580px;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    width: 100%;
    height: 100%;
    background-color: salmon;
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 24;
}