@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

html{
    background-color: whitesmoke;
}

body{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
   
}

hr{
    min-width: 350px;
    height: 1px;
    background-color:black ;
    margin: 30px 0;
}

.container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;

}

.total-time{
    font-size: 2rem;
    font-weight: 600;
}

.last-time{

}

/* laps  */
.laps-cont {
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end ;
    height: 300px;
    
    overflow-y: scroll;
    
}

.one-lap {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    max-width: 500px;
    
}

.lap-no{
    color:blue;
}

.time-stamp{
    margin-left: 2vw;
    color: black;
}

.lap-time{
    margin-left: 20vw;
    
}


/* Buttons */

.buttons{
    
}

.restart{
    
}

.start{
  font-size: 1.3rem;
  background-color: #0053ff !important;
  color: white;

}

.record-lap{

}


.button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 90px;
    height: 50px;
    background-color: whitesmoke;
}

.button:hover{
    color: red;
}

.disable-button{

}